<div class="row">
  <article class="nine columns">
    <h3>
      <% if digest %>
        <%= link_to article.title, article %>
      <% else %>
        <%= article.title %>
      <% end %>
    </h3>

    <% if digest %>
      <%= article.summary %>
    <% else %>
      <%= article.body %>
    <% end %>

    <% if digest && article.summary.length < article.body.length %>
      <%= link_to 'Read more &rarr;', article.url, :class => 'secondary button radius' %>
    <% end %>

    <% unless digest %>
      <ul class="read_next">
        <li><%= article.previous_article ? link_to("&laquo; #{article.previous_article.title}", article.previous_article) : "&nbsp;" %></li>
        <li><%= article.next_article ? link_to("#{article.next_article.title} &raquo;", article.next_article) : "&nbsp;" %></li>
      </ul>

      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '';
        (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    <% end %>
  </article>
  <aside class="three columns">
    <ul class="credit">
      <li class="time">Posted on <time datetime="<%= article.date.strftime('%Y-%m-%d') %>"><%= article.date.strftime('%A %b %e, %Y') %></time></li>
    </ul>
    <ul class="tags">
      <% article.tags.each do |tag| %>
        <li><%= link_to tag, tag_path(tag), :class => 'tiny button secondary round' %></li>
      <% end %>
    </ul>
  </aside>
</div>
