---
pageable: true
---
<h1>Archive for
  <% case page_type
     when 'day' %>
    <%= Date.new(year, month, day).strftime('%b %e %Y') %>
  <% when 'month' %>
    <%= Date.new(year, month, 1).strftime('%b %Y') %>
  <% when 'year' %>
    <%= year %>
  <% end %>
</h1>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>

<%= partial '/blog/pagination', :locals => {
  :paginate => paginate, 
  :next_page => next_page, 
  :prev_page => prev_page,
  :num_pages => num_pages,
  :page_number => page_number
} %>
